.Container {
  border-radius: 0.5rem;
  overflow: hidden;
}

.Arrow {
  align-items: center;
  background-color: transparent;
  border: none;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: background-color 0.25s ease;
  width: 3rem;
  z-index: 10;
}

.Arrow:focus {
  outline: none;
}

.Arrow:focus .Icon {
  outline: 2px solid white;
  outline-offset: 3px;
}

.Icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.Icon img {
  width: 1.5rem;
}

.Prev {
  left: 0;
}

.Next {
  right: 0;
}

@media (hover: hover) {
  .Arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
