.card {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  color: #255983;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
  position: relative;
}

.card:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  color: #272727;
}

.card h4 {
  line-height: 32px;
  text-align: center;
  color: inherit;
  transition: color 0.5s ease;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
}

.image img {
  width: auto;
  height: 100%;
  object-fit: scale-down;
}
