.products {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.1rem;
}

.total span {
  font-size: 1.2rem;
}

.total h3 {
  display: inline;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 80vh;
}

.empty p {
  font-size: 1.1rem;
}
