.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  gap: 2.5%;
  position: relative;
}

.products {
  flex: 1;
}

.filterbtn {
  display: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

.filterbtn:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .filter {
    position: absolute;
    background-color: #efefef;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.25s ease-in-out;
    z-index: 50;
  }

  .filterbtn {
    display: block;
  }

  .open {
    transform: translateX(0%);
  }

  .close {
    transform: translateX(102.5%);
  }
}
