.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(172px, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  }
}
