.container {
  padding-bottom: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.breadcrumb h1 {
  padding: 0;
}

.link {
  color: #255983;
  font-size: clamp(1.2rem, 3.6vw, 1.8rem);
  font-weight: 700;
  transition: color 0.25s ease;
}

.link:hover {
  color: #272727;
}

.separator {
  height: clamp(1.2rem, 3.6vw, 1.8rem);
}
