.Container {
  overflow-x: scroll;
  scrollbar-width: none;
}

.Container::-webkit-scrollbar {
  display: none;
}

.Container,
.Link {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.Link a {
  transition: color 0.25s ease;
}

.Link a:focus {
  outline: none;
  text-decoration: underline;
}

.Separator {
  height: clamp(1.2rem, 3.6vw, 1.8rem);
}

@media (hover: hover) {
  .Link a:hover {
    color: #272727;
  }
}
