.Form {
  width: 256px;
  min-width: 256px;
}

.Form * {
  font-size: 0.9rem;
}

.Form h5 {
  color: #545868;
  font-weight: 400;
  padding: 0.3rem 0rem;
  margin-bottom: 0.5rem;
}

.List {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.List input {
  margin-right: 0.5rem;
}

.List input:focus {
  outline: none;
}

.Form button,
.List a,
.List label {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}

.Form button:focus,
.List a:focus,
.List label:focus-within {
  outline: 2px solid var(--color-focus);
}

.Price {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
}

.Input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0rem 0.5rem;
  white-space: nowrap;
  width: 50%;
}

.Input label {
  display: inline-block;
  width: 2rem;
}

.Input input {
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  outline: none;
  width: 10px;
  flex: 1;
}

.Actions {
  text-align: right;
}

.FilterClose {
  display: none;
  margin-left: 0.5rem;
}

@media (hover: hover) {
  .Form button:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .List a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .Form {
    width: 100%;
  }

  .List label {
    flex: 1;
  }

  .FilterClose {
    display: initial;
  }
}
