.quantity {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.quantity button,
.quantity input {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

.quantity input {
  border: none;
  text-align: center;
  width: 5rem;
}

.quantity input:focus {
  outline: none;
}

.lbtn,
.rbtn {
  background-color: #efefef;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.lbtn:hover,
.rbtn:hover {
  background-color: #dfdfdf;
}

.lbtn {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.rbtn {
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
