.Container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0rem auto;
  max-width: 1200px;
  min-height: 100%;
  width: 95%;
}

#logo {
  border-radius: 0.3rem;
  font-family: "Iceland", cursive;
  font-size: 1.7rem;
}

#logo:focus {
  outline: none;
  text-decoration: underline;
}

.Search {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.Search:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: 3px solid var(--color-focus);
}

.Search input,
.Search button {
  background-color: transparent;
  border: none;
}

.Search input {
  color: #545868;
  flex: 1;
  font-size: 0.9rem;
  outline: none;
  padding: 0.5rem;
  width: 10px;
}

.Search button {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0rem 0.5rem;
}

.Search button:focus {
  outline: none;
}

.Search button img {
  height: 1rem;
  width: 1rem;
}

.Cart {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.Cart:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: 3px solid var(--color-focus);
}

.Cart span {
  font-size: 0.9rem;
}

.Cart img {
  width: 1rem;
  height: 1rem;
}

@media (hover: hover) {
  .Cart:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}
