.Button {
  border: none;
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0rem;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.25s ease;
}

.Primary {
  background-color: #897ee6;
  color: white;
  outline: 1px solid #6a5bf7;
}

.Primary:focus {
  outline: 3px solid #a398ffa6;
}

.Secondary {
  background-color: #1feb52;
  color: #272727;
  outline: 1px solid #12a737;
}

.Secondary:focus {
  outline: 3px solid #60ff88b0;
}

@media (hover: hover) {
  .Primary:hover {
    background-color: #6a5bf7;
  }

  .Secondary:hover {
    background-color: #70ff94;
  }
}
