.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 80vh;
}

.btn {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

.btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
