.slide {
  aspect-ratio: 3 / 1;
  background-size: cover;
  background-position: center center;
  flex-shrink: 0;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  padding: 2rem;
}

@media screen and (max-width: 576px) {
  .slide {
    aspect-ratio: 3 / 2;
  }

  .link {
    font-size: 2rem;
  }
}
